/* Base Application Styles */
@import '~font-awesome/css/font-awesome.min.css';
@import '~bootstrap/dist/css/bootstrap.min.css';
//@import '~material-ui/styles/MuiThemeProvider';
@import '~material-design-lite/dist/material.green-indigo.min.css';




html,body {
    margin: 0;
    padding: 0;
     font-family: 'Roboto', 'Helvetica',sans-serif;

}
