@import '../_variables.scss';
.login {
    .login-side {
        form {
            #login-button {
                background-color: $color-green;
            }
            #facebook-button {
                background-color: #3b5998;
                border: 3px solid #3b5998;
                transition: 1s;
            }
            #facebook-button:hover {
                background-color: #22345c;
                transition: 1s;
            }
        }
        .restore-pass-link {
            margin-top: 70vh;
        }
        .create-account-link {
            margin-top: 10%;
        }
    }
}