.mdl-layout__drawer{
    .mdl-textfield{
        height: 10%;
        margin-left: 3rem;
    }

    nav{
        height: 90%;
        position: relative;

        .mdl-navigation__link{
            i{
                margin-right: 1rem;
                font-size: 2rem;
            }
        }

        .drawer_footer{
            position: absolute;
            width: 100%;
            bottom: 0;
        }
    }
}

.mdl-layout__content{
    display: flex !important;
    justify-content: space-around;
    align-items: center;

    .page-content{
        height: 96vh;
        width: 100%;
        margin: 1rem;
    }
}