@import '../_variables.scss';

.mdl-layout__drawer{
    .mdl-textfield{
        height: 10%;
        margin-left: 3rem;
    }

    nav{
        height: 100%;
        position: relative;

        .mdl-navigation__link{
            cursor: pointer;
            i{
                margin-right: 1rem;
                font-size: 2rem;
            }
            transition: 1s;


            &:hover {
              color: $color-green !important;
              background-color: $white !important;
              transition: 1s;
            }
        }

        .drawer_footer{
            position: absolute;
            width: 100%;
            bottom: 0;
        }
    }

    .user{
        font-size: 1rem;
        width: 100%;
        padding: 16px 40px;
        display: flex;
        align-items: center;
        justify-content: left;
        margin-bottom: 3rem;
        
        i{
            margin-right: 1rem;
            font-size: 2rem;
        }
    }
}

.mdl-layout__content{
    display: flex !important;
    justify-content: space-around;
    align-items: center;

    .page-content{
        height: 96vh;
        width: 100%;
        margin: 1rem;
        padding: 2rem;
    }
}